.content {
    max-width: 1600px;
    margin: auto;
    color: #3a3b42;
}

.float-left {
 float: left;   
}
.float-right {
    float: right;
}
.clear-float {
    clear: both;
}

.phone-icon {
    color: #158bbc;
    font-size: 12px; 
}

ul li {
    list-style: none;
}

nav ul li {
    display: inline;
}


a:hover, a:active, a:link, a:visited {
    text-decoration: none;
    color: #333
}

button {
    color: #1aa1db;
    background-color: #fff; 
    border: 1px solid #158bbc;
    padding: .8rem 3.2rem;
    text-align: center;
    text-decoration: none;
    font-size: .9rem;
    border-radius: 3rem;
}

#nav-number {
    display: inline;
    font-size: 1.3rem;
    margin-right: 1rem;
}

#nav-a-list {
    padding-top: 2rem;
}

#nav-a-list li {
    margin-left: 2.1rem;
    font-size: 1rem;
    letter-spacing: 1px;

}

#hero {
    background-image: url("img/header-background.jpg");
    padding: 10rem 0;
}

#hero-button{
    color: #fff;
    background-color: #158bbc;
    padding: .8rem 3rem;
    font-size: 1em;
    font-weight: 300;
    border-radius: 2rem;
    text-transform: uppercase;
}

#side-title {
    font-size: 2.6rem;
    text-align: right;
    font-weight: 200;
    color: #3a3b42;
}

#welcome-title {
    font-size: 1.6rem;
    margin-bottom: .3rem;
    font-weight: 200;
}

#hero-title {
    font-size: 3.3rem;
    margin-top: 0;
    margin-bottom: 0;
    color: rgb(58, 59, 66);
}

#hero-sub-title {
    font-size: 1.6rem;
    margin-bottom: .1rem;
    /* font-weight: 300; */
    color: #158bbc;
}

#hero-para {
    max-width: 33rem;
    line-height: 2;
    margin-bottom: 2em;
    /* font-size: 17px; */
}

.blue-btn-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.big-btn-dark {
    background-color: #158bbc;
    color: #fff;
    border-radius: .3rem;
    padding: .8rem 5.8rem;
}

.big-btn-light {
    background-color: rgb(122, 197, 222);
    color: #fff;
    border-radius: .3rem;
    padding: .8rem 5.8rem;
}

.big-btn p {
    font-size: 1.3rem;
    padding: 0 .2rem;
}

.gen-dentistry-flex {
    display: flex;
    justify-content: space-between;
    /* flex-wrap: wrap; */
    /* align-items: center; */
}

.gen-dentistry-flex li {
    list-style: disc;
}

.gen-dentistry-flex li::marker {
    color: #158bbc;
}

#gen-dentistry p {
    width: 35rem;
    line-height: 1.8rem;
}

#gen-dentistry {
    margin-top: 4rem;
}

#gen-dentistry h2 {
    font-size: 2.5rem;
}

#gen-dentistry img {
    border-top-left-radius: 1.7rem;
}

#gen-dentistry button {
    padding: 1.2rem 6rem;
    font-size: 1rem;
    text-transform: uppercase;
}

ul {
    padding:0;
}

#bg-compassion {
    background-image: url("img/compassionate-dental-care.jpg");
}

#bg-emergency {
    background-image: url("img/dental-emergencies.jpg");
}

footer {
    background-color: #084678;
    color: #eee;
}

footer a:hover, footer a:active, footer a:link, footer a:visited {
    color: #eee;
}

.footer-phone {
    font-size: 1.5rem;
}

footer .row {
    padding: 4rem;
}

.dot {
    height: 2.2rem;
    width: 2.2rem;
    background-color: #fff;
    border-radius: 50%;
    display: inline-block;
    margin: 0 5px;
}

.footer-col-mx-w {
    margin: 0;
    max-width: 17rem;
    padding: 0;
}

.footer-title {
    font-size: 1.6rem;
}

#bottom-footer {
    font-size: .7rem;
    padding-left: 4rem;
    padding-bottom: 1rem;
}
