*,
*::before,
*::after {
box-sizing:border-box;
}

body {
    margin: 0;
}

.content {
    max-width: 1600px;
    margin: 0 auto;
    color: #3a3b42;
}

.row{
    display: flex;
    flex: wrap;
}

.column {
    vertical-align: middle;
}

header {
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;
    
}

header img {
    max-height: 70px;
    max-width: 296px;
}

nav div {
    text-align: right;
}


nav ul {
    margin-top: 0;
}

.phone-icon {
    color: #158bbc;
    font-size: 12px; 
}

ul li {
    list-style: none;
}

nav ul li {
    display: inline;
}


nav a:hover, a:active, a:link, a:visited {
    text-decoration: none;
    color: #333
}

nav li a:hover {
    color: #000;
    border-bottom: #158bbc solid 2px;
    padding-bottom: 5px;
}

.button {
    color: #1aa1db;
    background-color: #fff; 
    border: 1px solid #158bbc;
    padding: .8rem 3.2rem;
    text-align: center;
    text-decoration: none;
    font-size: .9rem;
    border-radius: 3rem;

}

.button:hover {
    color: #fff;
    background-color: #158bbc;
}

.button:active {
    color: #fff;
    background-color: #158bbc;
}

#nav-number {
    display: inline;
    font-size: 1.3rem;
    margin-right: 1rem;
}

#nav-a-list {
    padding-top: 2rem;
}

#nav-a-list li {
    margin-left: 2.1rem;
    font-size: 1rem;
    letter-spacing: 1px;

}

#hero {
    background-image: url("img/header-background.jpg");
    background-position: center;
    padding: 10rem 0;
    background-repeat: no-repeat;
    margin: 3rem;
    margin-bottom: 0;
}

#hero-button{
    color: #fff;
    background-color: #158bbc;
    padding: .8rem 3rem;
    font-size: 1em;
    font-weight: 300;
    border-radius: 2rem;
    text-transform: uppercase;
}

.hero-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#hero-button:hover{
    color: #158bbc;
    background-color: #fff;
    padding: .8rem 3rem;
    font-size: 1em;
    font-weight: 300;
    border-radius: 2rem;
    text-transform: uppercase;
}


#welcome-title {
    font-size: 1.6rem;
    margin-bottom: .3rem;
    font-weight: 200;
}

#hero-title {
    font-size: 3.3rem;
    margin-top: 0;
    margin-bottom: 0;
    color: rgb(58, 59, 66);
}

#hero-sub-title {
    font-size: 1.6rem;
    margin-bottom: .1rem;
    color: #158bbc;
}

#side-title {
    font-size: 2.6rem;
    text-align: right;
    font-weight: 200;
    color: #3a3b42;
    margin: 0;
}

#hero-para {
    line-height: 2;
    margin: 0;
    font-size: 17px;
    width: 40rem;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.blue-btn-flex {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: baseline;
    margin: 0;
}

.big-btn:hover {
    background-color: #158bbc;
    color: #fff;
    border-radius: .3rem;
}

.big-btn:active {
    background-color: #158bbc;
    color: #fff;
    border-radius: .3rem;
}

.big-btn {
    background-color: rgb(122, 197, 222);
    color: #fff;
    border-radius: .3rem;
    padding: 1rem 2.7rem;
    max-width: 100%;
}

.big-btn img {
    max-width: 53px;
    max-height: 53px;
    margin: .5rem 0;
}

#big-btn-list a {
    white-space: nowrap;
}

.big-btn p {
    font-size: 1.6rem;
    color: #fff;
    padding: 0 0 0 .2rem;
    margin: 1rem 0 1rem .5rem;
}

#big-btn-list ul {
    justify-content: space-between;
    margin: 0 auto;
    max-width: 100%;
}

.gen-dentistry-flex {
    display: flex;
    justify-content: space-between;
}

.gen-dentistry-flex img {
    max-width: 100%;
}

.gen-dentistry-flex>div {
    margin: 0 3rem;
}

.gen-dentistry-flex ul {
    display: flex;
    flex-wrap: wrap;
    justify-items: flex-end;
    margin-top: 2rem;
}

.gen-dentistry-flex li {
    list-style: disc;
    list-style-position: inside;
    flex: 50%;
    margin-bottom: .5rem;
}

.gen-dentistry-flex li::marker {
    color: #158bbc;
}

#gen-dentistry p {
    width: 35rem;
    line-height: 1.8rem;
}

#gen-dentistry {
    margin-top: 4rem;
}

#gen-dentistry .text-left {
    margin-left: 0;
}

h2 {
    font-size: 2.5rem;
}

.break-line {
    display: block;
    margin-top: 1rem;
}

#gen-dentistry img {
    border-top-left-radius: 1.7rem;
    max-width: 50%;
}

#gen-dentistry button {
    padding: 1.2rem 6rem;
    font-size: 1rem;
    text-transform: uppercase;
}

ul {
    padding:0;
}

.team {
    display: flex;
    justify-content: space-between;
    margin: 3rem 0;
}

.team-mobile { 
    display: flex;
    width: 65%;
    flex-shrink: 0;
}

.team-imgs {
    display: block;
}

.member {
    margin: 1rem;
    display: flex;
    flex-direction: column;
}

.member img {
    border-radius: 1.5rem;
    max-width: 325px;
    max-height: 545;

    width: 100%;
    height: auto;
    flex-shrink: 50%;
}

.member .button {
    max-width: 400px;
    margin: -8% auto 0 auto ;
    background-color: rgb(122, 197, 222);
    color: #fff;
    border-radius: 3rem;
    padding: .8rem 15%;
    font-size: 1.1rem;
    border: none;
    border: rgb(122, 197, 222) solid 1px;
}

.member .button:hover {
    color: rgb(122, 197, 222);
    background-color: #fff;
    border: rgb(122, 197, 222) solid 1px;
}

.team-aside {
    margin: auto 3.2rem;
    line-height: 1.8rem;
}

.team-aside p{
    margin-bottom: 5rem;
}

.team-aside h2 {
    font-size: 2.5rem;
}

.team-aside .button {
    padding: 1rem 6rem;
    font-size: 1rem;
    text-transform: uppercase;
}

.test-bg {
    width: 100%;
    padding: 9% 0;
    height: 100%;
    background-repeat: no-repeat;
    margin-bottom: 3rem;
}

.text-bg {
    background-color: rgb(255, 255, 255, .95);
    width: 40%;
    border-radius: 1.8rem;
    padding: 1.5rem 3rem;
    max-width: 80%;
}

.text-left {
    margin-left: 50%;
}

.text-right {
    margin-left: 4%;
}

.bg-img-container {
    position: relative;
    text-align: left;
    margin-bottom: 3rem;
}

.bg-img-container h2 {
    color: #000;
}

.bg-p-left {
    position: absolute;
    top: 25%;
    left: 52%;
    right: 5%;
    bottom: 20%;
    background-color: rgb(255, 255, 255, .95);
    border-radius: 1.8rem;
    padding: 2rem 5rem 5rem 5rem;
    line-height: 1.6rem;
}

.bg-p-right {
    position: absolute;
    top: 22%;
    right: 52%;
    left: 3%;
    bottom: 20%;
    background-color: rgb(255, 255, 255, .95);
    border-radius: 1.8rem;
    padding: 3.5rem 5rem 5rem 5rem;
    line-height: 1.7rem;
}

#bg-compassion {
    background-image: url("img/compassionate-dental-care.jpg");
    background-repeat: no-repeat;
    padding: 5rem;
    margin-bottom: 2.5rem;
}

#bg-emergency {
    background-image: url("img/dental-emergencies.jpg");
    padding: 13rem;
}

.img-bubble {
    background-color: rgba(255, 255, 255, 0.92);
    border-radius: 1.8rem;
    width: 50%;
}

.img-bubble h2 {
    font-size: 2.7rem;
    margin: auto 0;
    max-width: fit-content;
}

.img-bubble p {
    max-width: fit-content;
}

.inner-bubble {
    padding: 5rem;
}

footer {
    background-color: #084678;
    color: #eee;
}

footer a:hover, footer a:active, footer a:link, footer a:visited {
    color: #eee;
}

.footer-phone {
    font-size: 1.5rem;
}

footer {
    padding: 4rem 4rem 0 4rem;
}

.footer-flex {
    display: flex;
    justify-content: space-around;
}

.gap {
    text-align: right;
}

.dot {
    height: 2.2rem;
    width: 2.2rem;
    background-color: #fff;
    border-radius: 50%;
    display: inline-block;
    margin: 0 5px;
}

.footer-title {
    font-size: 1.6rem;
}

#bottom-footer {
    font-size: .7rem;
    padding-left: 4rem;
    margin-top: 4rem;
    margin-bottom: 0;
}

.openebtn {
    display: none;
}

#mobile-nav {
    display: none;
}

@media (max-width: 1580px) {
    .big-btn {
        padding: 1% 2%
    }
}

@media (max-width: 1500px) {
    .big-btn {
        padding: .5% 1%
    }

    .member .button {
        font-size: .8rem;
    }
}

@media  (max-width: 1200px) {
    
    body {
        margin-left: .8rem;
    }
    
    ul {
        display: none;
    }

    .row {
        flex-wrap: wrap;
        justify-content: center;
    }

    .column {
        flex: 45%;
        max-width: 45%;
        margin: 10px;
    }

    #mobile-nav {
        display: block;

    }

    .lg-mobile-nav-menu {
        font-size: 4rem;
        margin-right: 1rem;
        display: block;
    }

    .desktop-vw {
        display: none;
    }

    .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        right: 0;
        background-color: #158bbc;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
    }
    
    .sidenav a {
        white-space: nowrap;
        padding: 8px;
        text-decoration: none;
        font-size: 25px;
        color: #fff;
        display: inline-block;
        min-width: 51%;
        transition: 0.3s;
        /* text-align: center; */
        border-bottom: #158bbc solid 1px;
        margin: 1rem 20px 1rem auto;
      }

      .sidenav a:hover {
        border-bottom: #fff solid 1px;
        color: #fff;
      }

      .sidenav a.closebtn {
        border-bottom: #158bbc solid 1px;
      }
      
      .sidenav a.closebtn {
        font-size: 3.5rem;
        margin-left: 25px;

      }

      #big-btn-list ul {
        justify-content: center;

      }

      #big-btn-list a {
        justify-content: center;
        flex-wrap: nowrap;
        
      }

      .openebtn {
        font-size: 3.5rem;
        display: inline;
        margin-right: 1rem;
        color: #158bbc;
      }

      #side-title {
        display: none;
      }

      #hero {
        margin-bottom: 1rem;
        background-size: cover;
      }

      #mobile-nav .button {
        border: #fff 5px solid;
        background-color: #158bbc;
        border-radius: 1rem;
        font-size: 25px;;
      }

      #mobile-nav .flex {
        justify-content: center;
        align-items: center;
        display: flex;
      }

      #mobile-nav #nav-number {
        margin: 0 1rem;
      }

      #hero-button {
        margin: 2rem 0;
      }

      .big-btn a.flex {
        justify-content: center;
      }

      #gen-dentistry img {
        max-width: 100%;
      }

      .gen-dentistry-flex {
        flex-direction: column;
        row-gap: 3rem;
        justify-content: center;
      }

      #gen-dentistry p {
        width: 45rem;
        margin-left: 10rem;
      }

      .gen-dentistry-flex .text-left {
        margin-left: 10rem;
      }

      .gen-dentistry-flex h2 {
        text-align: center;
        margin: 1rem auto;
      }

      .gen-dentistry-flex ul {
        display: flex;
        flex-wrap: wrap;
        justify-items: center;
        margin-top: 2rem;   
        margin-left: 10rem;     
      }

    .gen-dentistry-flex .button {
        margin: auto;
        display: block;
        max-width: 15rem;
    }

    .team {
        flex-wrap: wrap;
        margin: auto;
    }

    .team-aside {
        order: 1;
        margin-bottom: 3rem;
    }

    .team-mobile {
        order: 2;
        display: flex;
        margin: auto;
    }

    .text-bg {
        background-color: rgb(255, 255, 255, .95);
        margin: auto;
        border-radius: 1.8rem;
        padding: 1.5rem 3rem;
        width: 80%;
    }

    .team-mobile {
        margin-bottom: 3rem;
    }

    .member .button {
        font-size: 1rem;
    }

    .team-mobile {
        width: 100%;
        justify-content: center;
    }

    #gen-dentistry .text-left {
        margin: auto;
    }

}

@media (max-width: 1080px) {
    .big-btn p {
       font-size: 1.4rem;
    }

    .big-btn.column {
        max-width: 40%;
    }


    #gen-dentistry p {
        margin: auto;
        display: block;
    }
}

@media (max-width: 700px) {
    #mobile-nav i, #mobile-nav #nav-number {
        display: none;
    }

    #hero {
        padding: 0;
    }

    #hero-para {
        width: 100%;
    }

    .big-btn.column {
        max-width: 100%;
    }

    #gen-dentistry p {
        width: 100%;
    }
    .gen-dentistry-flex ul {
        margin: 3rem 0;
    }

    .team-aside h2 {
        text-align: center;
    }
    .team-aside .button {
        display: block;
    }

    .team-mobile {
        /* display: block; */
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer-flex {
        flex-direction: column;
    }
    #bottom-footer {
        padding: 0;
    }
}